*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container{

    height: 130px;
    background-color: steelblue;
    
    color:white;
} 

h1 {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
}


a{
    font-size: 20px;
    margin: 1em;
    width: 100%;
}
.banner {
    height: 200px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  
}
.h1banner {
    padding-top: 70px;
    
}
.banner p {
    font-size: 1em;
}
.row {
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;

}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

