* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    max-width: 900px;
    margin: auto;
}

.container-text h4{
    color: #c4bebe;
}

button{
    width: 100%;
    padding: 12px;
    background: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.result-table{
    width: 100%;
    border-width: 60px;
    margin-top: 10px;
}

.result-table th, .result-table td {
    text-align: left;
    padding: 12px;
}

.result-table th {
    background-color: #f8f9fa;
    color: #555;
}

.result { display: none; }

.error-message {
    display: none;
    color: #dc3545;
    margin-top: 10px;
    font-weight: bold;
}